* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}

body {
  padding-top: 5%;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

p {
  color: rgb(255, 255, 255);
}

h1,
h3 {
  color: rgb(255, 255, 255);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(82, 47, 171);
  border-color: rgb(62, 61, 61);
}

.navbar a {
  margin-left: 35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar a:hover,
.navbar a.active {
  color: gray;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.hero-section {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.text {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  margin: 50px 0px 15px 30px;
}

.job {
  margin: 15px 0px 15px 30px;
}

.description {
  width: 60%;
  padding-left: 30px;
  /* margin-left: px; */
}

.button {
  margin: 20px 70px;
}

.tell-me {
  color: white;
  text-decoration: none;
  border: solid;
  width: 1px;
  border-color: rgb(82, 47, 171);
  border-radius: 40px;
  padding: 10px 50px;
  transition: transform 0.3s ease, box-shadow 0.3s background-color 0.5ss;
}

.tell-me:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(82, 47, 171);
  box-shadow: 0px 1px 2px rgba(255, 216, 216, 0.543);
  transform: translateY(-7px);
}

.images {
  flex: 1;
  position: relative;
  display: flex;
  /* margin-top: 70px; */
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 80%;
}

.img {
  height: 250px;
}
