* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}

body {
  margin-top: 6%;
  background-color: rgb(36, 36, 36);
}

p,
h2 {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(82, 47, 171);
  border-color: rgb(62, 61, 61);
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navbar a {
  margin-left: 35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar a:hover,
.navbar a.active {
  color: gray;
}

.container {
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content {
  background-color: black;
  width: 50%;
  border-radius: 20px;
  padding: 40px 10px;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(82, 47, 171);
}

.profil-container {
  margin-bottom: 25px;
}

.profil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 70px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: rgb(82, 47, 171);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

.social-links a:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(102, 126, 234, 0.6);
}

.social-links a i {
  font-size: 50px;
}
