* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}

p {
  color: white;
}

body {
  padding-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(36, 36, 36);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(62, 61, 61);
  background-color: rgb(82, 47, 171);
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navbar a {
  margin-left: 35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar a:hover,
.navbar a.active {
  color: gray;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;

  gap: 20px;
}

.content {
  border-radius: 10px;
  transition: box-shadow 0.3s transform 0.3s hover 0.4;
}

.content:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(102, 126, 234, 0.6);
}

.atm-pic {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  object-fit: cover;
}

.descrition {
  width: 100%;
  padding: 30px;
  text-align: center;
  background-color: rgb(34, 34, 130);
  border-radius: 0 0 10px 10px;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.big-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
}
