* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}

body {
  padding-top: 5%;
  background-color: rgb(45, 42, 42);
}

p {
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(82, 47, 171);
  border-color: rgb(62, 61, 61);
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navbar a {
  margin-left: 35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar a:hover,
.navbar a.active {
  color: gray;
}

.hero-section {
  margin: 20px 15px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.vertical-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  /* border-radius: 7px; */
  border-color: rgb(82, 47, 171);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vertical-element:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(82, 47, 171, 0.509);
}

.pic {
  display: flex;
  justify-content: center;
}

.img {
  width: 50%;
  height: 130px;
}

.text {
  margin-top: 20px;
  margin-left: 6px;
}

.stars {
  width: 100%;
  height: 100px;
}
